body{
    padding-top: 14px;
    padding-right: 300px;
    padding-left: 230px;
    padding-bottom: 20px;
}
.REDONDO{
   border: 1px solid #000000;
   border-radius: 18px;
   border-right-color: aquamarine;
   background: #ffc9d8;
}
div h1{
    text-align-last: center;
    background-color: #d6e4f5;
    color: #779ef5;
}
.ENERO{
    color: #980000;
    background: #ffc9d8;
    padding-top: 14px;
    padding-right: 30px;
    padding-left: 23px;
    padding-bottom: 14px;
}
.FEBRERO{
    color: #986300;
    background: #fff0c9;
    padding-top: 14px;
    padding-right: 30px;
    padding-left: 23px;
    padding-bottom: 14px;
}
li {
    color: #0059e6;
}
#FIN_DE_TRIMESTRE{
    color: #003a98;
    background: #c9d6ff;
    padding-top: 1px;
    padding-right: 30px;
    padding-left: 23px;
    padding-bottom: 1px;
}
.ABRIL{
    color: #009835;
    background: #c9ffe2;
    padding-top: 14px;
    padding-right: 30px;
    padding-left: 23px;
    padding-bottom: 14px;
}
.MAYO{
    color: #008698;
    background: #c9f7ff;
    padding-top: 14px;
    padding-right: 30px;
    padding-left: 23px;
    padding-bottom: 14px;
}
#FIN_DE_2TRIMESTRE{
    color: #985200;
    background: #ffeac9;
    padding-top: 1px;
    padding-right: 30px;
    padding-left: 23px;
    padding-bottom: 1px;
}
h2, h3{
    color: #148fdc;
    text-align-last: center;
    background: #87f866
}
#culmino{
    color: #170098;
    background: #ffc9f3;
    padding-top: 1px;
    padding-right: 30px;
    padding-left: 23px;
    padding-bottom: 1px;
}
.FIN_MES #culmino span{
    color: #148fdc;
}
.FIN{
    border-radius: 900px;
    text-align-last: center;
    background: #ff0000;
}
